@import '../../../assets/shared/variables.scss';

.Modal {
  z-index: 500;
  background-color: $color-white;
  color: $grey-text;
  padding: 0;
  box-sizing: border-box;

  overflow-y: scroll;
  width: 90%;
  margin: 0 auto;
  display: table;
  position: absolute;
  top: 50px;
  left: 5%;
  text-align: center;

  .CloseButton {
    position: absolute;
    right: 12px;
    top: 0px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
    border: none;
    background: none;
  }

  .CloseButton:hover,
  .CloseButton:active {
    opacity: 1;
  }

  .CloseButton:before,
  .CloseButton:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 28px;
    width: 5px;
    background-color: #333;
  }
  .CloseButton:before {
    transform: rotate(45deg);
  }
  .CloseButton:after {
    transform: rotate(-45deg);
  }

  .ModalContainer {
    display: flex;
    flex-direction: column;
  }

  .ImageContainer {
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .DataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    h4 {
      font-weight: 500;
      font-size: 1.5rem;
      color: #3e585f;
      text-align: center;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    textarea {
      color: #67878f;
      border: none;
      //border-bottom: 1px solid $primary-color;
      border-radius: 0;
      line-height: 20px;
      //padding: 8px;
      height: 100%;
      max-height: 150px;
      resize: none;
    }

    textarea::placeholder {
      color: #88a9b1;
    }

    textarea::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    textarea::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    /* Handle */
    textarea::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(10, 0, 0, 0.8);
    }
    textarea::-webkit-scrollbar-thumb:window-inactive {
      background-color: rgba(63, 99, 134, 0.7);
    }

    > * {
      width: 78%;
      margin: 10px auto;
    }
  }
}

.HideModal {
  display: none;
}

@media (min-width: 600px) {
  .Modal {
    overflow-y: scroll;
    min-width: 300px;
    width: 100%;
    max-width: 800px;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .ModalContainer {
      flex-direction: row;
    }

    .ImageContainer {
      width: 60%;
    }

    .DataContainer {
      width: 40%;
    }
  }
}
