@import '../../assets/shared/variables.scss';

.MyPhotos {
  .Header {
		height: 180px;
    text-align: center;
    background: $primary-color;
    -webkit-box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.35);
		color: #ffffff;
		display: flex;
		position: fixed;
		width: 100%;
		z-index: 5;

    h1 {
			font-weight: 300;
			margin: 43px auto;
    }
  }
  .Content {
    width: 100%;
		margin: 0 auto;
		padding-top: 190px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
	}
}

@media (min-width: 900px) {
  .Content {
    width: 70% !important;
  }
}
